@font-face {
  font-family: brotherland;
  src: url("../fonts/Brotherlands.ttf");
}
@font-face {
  font-family: gin;
  src: url("../fonts/gin.otf");
}

iframe {
  display:none;
}

.hidden {
  display:none;
  width:0;
  height:0;
  position:absolute;
}


.stats {
  margin-top:10vmax;
  margin-left:25vmax;
  width: 800px;
  font-size:24px;
  text-align:center;
  color:#430804;
  font-family:brotherland;
}

#warning_text{
  font-family:brotherland;
  color:#430804;
  font-size:48px;
  text-align:center;
}

#timer {
  margin:1vmax;
  position:absolute;
  font-family:sans-serif;
  color:#430804;
  font-size:3vmax;
  text-align:center;
}

#boss {
grid-row:3/4;
grid-column:3/4;
}

b{
  font-family: serif;
}
