body{
  background-color: #deb8a0;
}

h1{
  text-align: center;
}

#container{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}

#love{
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

#boss{
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}