@font-face {
  font-family: Brotherland;
  src: url("../fonts/Brotherlands.ttf");
}

@font-face {
  font-family: Gin;
  src: url("../fonts/gin.otf");
}

body {
  background-color:#F5D3B8;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  padding:3vmax;
}

a.redirect {
  font-family:Gin;
  font-size:4.5vmax;
  color:#D8513D;
  text-decoration:none;
  padding:1vmax;
  padding-bottom:0.5vmax;
  border:0.4vmax solid #D8513D;
  border-radius:1vmax;
}

a.redirect:hover {
  color:#FD2229;
  border:0.5vmax solid #FD2229;
  border-radius:2vmax;
}

#logged_in {
  font-family:sans-serif;
  font-size:2vmax;
  color:#D8513D;
  margin:1vmax;
}

input {
  background-color:#F5D3B8;
  font-family:Gin;
  font-size:1vmax;
  color:#D8513D;
  text-decoration:none;
  padding:0.2vmax;
  border:0.2vmax solid #D8513D;
  border-radius:0.4vmax;
}

#inactive {
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}

#previous {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding:1vmax;
  border: 0.4vmax solid #D8513D;
  border-radius:0.6vmax;
  margin-bottom:3vmax;
  margin-top:1vmax;
}

div.archive {
  margin-left:1.5vmax;
  margin-right:1.5vmax;
  margin-bottom:1.5vmax;
  padding:0.5vmax;
  border: 0.3vmax solid #D8513D;
  border-radius:0.4vmax;
}

#previous h3 {
  margin:1vmax;
  font-size:2.5vmax;
  color:#D8513D;
  font-family:Gin;
}

div.archive h4 {
  margin:1vmax;
  text-transform:capitalize;
  font-size:1.5vmax;
  color:#D8513D;
  font-family:Gin;
}

div.archive li {
  font-size:1vmax;
  color:#D8513D;
  font-family:Gin;
}

div.archive b {
  font-size:1vmax;
  color:#D8513D;
  font-family:sans-serif;
}

div.archive li p {
  display:inline;
  margin:0;
  text-transform:capitalize;
}

#charName, #logged_in{
  font-family: brotherland;
}
